acl networks{
{% for n in acl_lan_networks %}
{{- n }};
{% endfor %}};

options {
        directory "/var/cache/bind";
        allow-query {
        networks;
        };

        forwarders {
        {% for n in DNS_forwarders %}
        {{- n }};
        {% endfor %}};

        dnssec-validation no;

        listen-on-v6 { any; };
};